<% content_for(:title, 'Edit a new brewery') %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="cocoon-container">
      <div class="form-post">
        <h3>Edit a brewery</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

